DIRECT_TOKEN=""
DIRECT_CLIENT_LOGIN="metall-cvt"
METRIKA_TOKEN=""
METRIKA_COUNTER_ID="53749281"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_ALLOWED_CHAT_IDS=""
METRIKA_GOAL_ID=""
GOOGLE_SHEET_URL=""
DATE_FROM=""
DATE_TO=""
